*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}

:root{
  --mainColor: #0282F9;
}

/* Components Header */

header{
  padding-top: 20px;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

a{
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 15px;
}

ul li{
  line-height: 50px;
}

ul li.active {
  border-bottom: 3px solid var(--mainColor);
}

ul li:hover {
  border-bottom: 3px solid var(--mainColor);
  color: var(--mainColor);
}

ul li.active a {
  color: var(--mainColor);
}

figure img {
  width: 50px;
}