*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}

:root{
  --mainColor: #0282F9;
  --sectionComics: #1A1A1A;
}

/* Components Header */

header{
  padding-top: 20px;
}

.container{
  /* display: flex;
  justify-content: space-between; */
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.flex-beetween{
  display: flex;
  justify-content: space-between;
}

a{
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

header ul{
  display: flex;
  gap: 15px;
}

header ul li{
  line-height: 50px;
}

ul li.active {
  border-bottom: 3px solid var(--mainColor);
}

ul li:hover {
  border-bottom: 3px solid var(--mainColor);
  color: var(--mainColor);
}



ul li.active a {
  color: var(--mainColor);
}

figure img {
  width: 50px;
}

/* Components Main */

#comics{
  background-color: var(--sectionComics);
}

#comics h2{
  color: white;
  text-align: center;
  padding: 20px 0;
}

#ComicsIcons{
  background-color: var(--mainColor);
  color: white;
  padding: 20px 0;
}

#ComicsIcons figure{
  display: inherit;
}

#ComicsIcons ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#ComicsIcons ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* padding: 20px 0; */
}

#ComicsIcons ul li figure img{
  aspect-ratio: 1;
  width: 24px;
}

/* Components Footer */

footer{
  background-color: var(--sectionComics);
  color: white;
  /* padding: 20px 0; */
}

footer .container{
  align-items: flex-start;
  padding: 20px 0;
}

#topFooter {
  background: url('./assets/img/footer-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#topFooter .bg-logo {
  background: url('./assets/img/dc-logo-bg.png');
  background-position: right;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  gap: 40px;
}

footer a{
  color: lightgray;
}

footer li:hover{
  border-bottom: inherit;
}

footer ul li {
  line-height: 160%;
  font-size: 0.8rem;
  color: lightgray;
}

footer .title{
  font-size: 1.5rem;
  color: white;
}

#bottomFooter{
  background-color: var(--sectionComics);
}

#bottomFooter .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bottomFooter button{
  border: 2px solid var(--mainColor);
  background-color: transparent;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

#bottomFooter .social {
  display: flex;
  gap: 20px;
}

#bottomFooter .social img{
  width: 24px;
}

